MySQL-python==1.2.2
PyYAML==3.10
SQLAlchemy==0.7.9
argparse==1.2.1
ordereddict==1.1
schema==0.1.1
sqlautocode==0.7
tarjan==0.1.2
clint==0.3.1
-e git+http://github.com/darvid/sweet@988bfd5e66917544fec83e682770498409ba677b#egg=sweet-dev
